.test{
    --border-radius: 4px;
    --background: lightgrey;
    margin-top: 15px;
}

// .img_test{
//     display: flex;
//     background-color: azure;
//     width: 100%;
//     height: 100%;
// }