<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list inset class="bg-transparent">
    <ion-item button *ngFor="let card of links" lines="none" class="test">
      <!-- <div class="img_test"></div> -->
      <!-- <ion-avatar slot="start" class="imgg">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="jjjasdasd" />
      </ion-avatar> -->
    </ion-item>
  </ion-list>
  
  <ion-button>asdasdasd
    <ion-ripple-effect type="bounded"></ion-ripple-effect>
  </ion-button>
</ion-content>