<ion-header>
  <ion-toolbar class="estilo__toolbar">     
    <ion-title id="title">Agradecimientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg-white">
    <h3 class="animate__animated animate__fadeInLeft animate__delay-1s">
      <img src="../../assets/images/agradecimientos/headnervion.png" />
    </h3>	
    
      <ion-list>
        <ion-item *ngFor="let agradecimientos_nervion of agradecimientos_nervion" >
          <ion-item>
            <ion-avatar slot="start">
              <img src="{{agradecimientos_nervion.img}}">
            </ion-avatar>
            <ion-label>
              <h2><b>{{agradecimientos_nervion.name}}</b></h2>
              <p>{{agradecimientos_nervion.dispositivo}}</p>
            </ion-label>
          </ion-item>
    
        </ion-item>
      </ion-list>

      <h3 class="animate__animated animate__fadeInLeft animate__delay-1s">
        <img src="../../assets/images/agradecimientos/headleon.png" />
      </h3>

      <ion-list>
        <ion-item *ngFor="let agradecimientos_leon of agradecimientos_leon" >
          <ion-item>
            <ion-avatar slot="start">
              <img src="{{agradecimientos_leon.img}}">
            </ion-avatar>
            <ion-label>
              <h2><b>{{agradecimientos_leon.name}}</b></h2>
              <p>{{agradecimientos_leon.dispositivo}}</p>
            </ion-label>
          </ion-item>
    
        </ion-item>
      </ion-list>

  </div>

<!-- BOTÓN VOLVER INICIO -->
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button href="/home" color="warning">
    <ion-icon name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>