<ion-header>
  <ion-toolbar class="estilo__toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" class="botonAtras" defaultHref="/home"></ion-back-button>
    </ion-buttons>     
    <ion-title id="title">Logotipos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let logo of logos">
    <ion-img src={{logo.img}} style="height: 100%; width: 100%;" class="animate__animated animate__fadeIn" tappable
      (click)="openPreview(logo.img)"></ion-img>
    <ion-card-header class="animate__animated animate__backInRight">
      <ion-card-subtitle>{{logo.subtitle}}</ion-card-subtitle>
      <ion-card-title>{{logo.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: justify;" 
      class="animate__animated animate__fadeIn">
      {{logo.content}}
    </ion-card-content>
  </ion-card>

</ion-content>