ion-content {
    --background: url(../../../assets/images/fondo4.png) ;
    text-align: center;
}

#title {
  background-color: #3490b0;
  color:white;
}

ion-card {
  //(--background: url(../../../assets/images/fondo4.png) ;
  background-color: white;
}

/*ion-card-subtitle {
  color:white;
}*/

ion-card-title {
  color:black;
}

ion-card-content {
  color:black;
}

ion-button {
  --background: #3490b0;
}