<ion-header>
  <ion-toolbar class="estilo__toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" class="botonAtras" (click)="atras()" defaultHref="/home"></ion-back-button>
    </ion-buttons>  
    <ion-title id="title">Historia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let historia of Historia">
    <div *ngFor="let item of historia.medios">
       
    <ion-img src="{{item.url}}" style="height: 100%; width: 100%;"  tappable
      (click)="openPreview(item.url)"  ></ion-img>
    <!--*ngIf="item.tipo==cambiado2"-->
    <ion-card-header class="animate__animated animate__backInRight">
     
      <ion-card-title>{{historia.titulo}}</ion-card-title>
      <ion-card-subtitle>{{historia.subtitulo}}</ion-card-subtitle>
    </ion-card-header>
    
     
    
    <ion-card-content style="text-align: justify;" 
      class="animate__animated animate__fadeIn">
      {{historia.descripcion}}
    </ion-card-content>
  <ion-card-content>
    <ion-button style="text-transform:none" size="small" (click)="openVideo(item.url)" color="danger" *ngIf="historia.medios.tipo==video/mp4"
        class="animate__animated animate__wobble ">Video</ion-button>
  </ion-card-content>
  </div>
  </ion-card>

</ion-content>
