<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <div class="bg">
      <div id="container_container">
        <div class="mask_container">
          <div class="mask"></div>
        </div>
      </div>
      <app-cuenta-atras></app-cuenta-atras>
      <p class="txt">6 AGOSTO 2022</p>


    </div>
    <div class="bottom_logo">
      <!-- <div class="separador_top"></div> -->
      
      <!-- <app-cuenta-atras></app-cuenta-atras> -->
      
      <!-- <div class="separador_bottom"></div> -->
     
    </div>
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>
