<ion-header>
  <ion-toolbar class="estilo__toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" class="botonAtras" (click)="atras()" defaultHref="/home"></ion-back-button>
    </ion-buttons>  
    <ion-title id="title">Himno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card *ngFor="let himno of playlist">
    <div  *ngIf="himno.enUso=='1'">
    
    
    <ion-card-header class="animate__animated animate__backInRight">
      <ion-card-title>{{himno.titulo}}</ion-card-title>
    </ion-card-header>

    <ion-card-content style="text-align: justify;" 
      class="animate__animated animate__fadeIn">
      {{himno.letra}}
    </ion-card-content>
   
    <ion-card-content style="text-align: right;">
      
      <ion-button style="text-transform:none" size="small" (click)="openVideo(himno)" color="danger" *ngIf="validateVideo(himno)"
        class="animate__animated animate__wobble ">Video</ion-button>
      <ion-button style="text-transform:none" size="small" (click)="start(himno)" color="warning" *ngIf="validateAudio(himno)"
        class="animate__animated animate__wobble ">Audio</ion-button>
      
     
    </ion-card-content>
  </div>
  </ion-card>

</ion-content >
<ion-footer *ngIf="activeTrack" >

  <ion-toolbar style="position: static; margin-bottom: 50px; background-color: black;">
    <ion-row>
      <ion-col size="12" class="ion-text-center" style="color: white;" >
        {{activeTrack.titulo}}
      </ion-col>
      <ion-col size="12">
        <ion-range #range [(ngModel)]="progress" max="100" color="success" (touchend)="seek()" (mouseup)="seek()"></ion-range>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button fill="clear" (click)="prev()" color="light">
          <ion-icon slot="icon-only" name="play-skip-back"></ion-icon>
        </ion-button>
        
        <ion-button fill="clear" (click)="togglePlayer(false)" *ngIf="!isPlaying" color="light">
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>

        <ion-button fill="clear" (click)="togglePlayer(true)" *ngIf="isPlaying" color="light">
          <ion-icon slot="icon-only" name="pause"></ion-icon>
        </ion-button>

        <ion-button fill="clear" (click)="next()" color="light">
          <ion-icon slot="icon-only" name="play-skip-forward"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-toolbar>

</ion-footer>