.countdown__titulo{
    font-weight: bold;
    color: var(--corporativo__naranja);
}

.ff{
    width: 80%;
    max-width: 600px;
    float: right;
}

.countdown__fechaAniversario{
    display: inline-block;
    color: var(--corporativo__naranja);
}

.countdown__fechaAniversario__dia{
    font-weight: bold;
    font-size: xx-large;
    margin: 0;
}

.countdown__fechaAniversario__mes{
    // font-weight: bold;
    font-size: medium;
    margin: 0;
}

.countdown__fechaAniversario__separador{
    display: inline;
    color: black;
    // border-left: 6px solid green;
    height: 100%;
    width: 20px;
}

.test{
    padding: 10px 10px;
}

.test2{
    border-radius: 50px;
    color: var(--corporativo__azul);
}

// Esta clase contiene el padding para el contenido de la pantalla así como otras propiedades generales para los elementos hijos
.countdown__ContenedorGeneral{
    padding: 15vh 20vw;
    text-align: center;
    height: 100%;
}

// Esta clase contiene la descripción conmemorativa
.countdown__descripcion{
    margin-top: 30px;
    padding: 0px 35px;
    // font-size: 6vw;
    font-style: italic;
    text-align: justify; // OJO - Center o justify. Si decidimos center, se podría quitar esta propiedad ya que el contenedor padre ya tiene ese estilo
}

//Esta clase agrupa y contiene todo un segmento de la cuenta atrás, tanto el valor como la unidad
.countdown__temporizador__bloque{
    display: inline-block;
    padding: 15px 10px;
    // margin: 0px 10px;
    // background-color: lightblue;
}

//Separador entre segmentos de la cuenta atrás
.countdown__temporizador__separador{
    display: inline-block;
    width: 20px;
}

//Clase que estiliza el valor de los segmentos de la cuenta atrás
.countdown__temporizador__valor{
    font-weight: bold;
    font-size: xx-large;
    color: var(--corporativo__azul);
    margin: 0;
}

//Clase que estiliza la unidad de los segmentos de la cuenta atrás
.countdown__temporizador__unidad{
    // font-weight: bold;
    color: var(--corporativo__verde);
    font-size: medium;
    margin: 0;
}

// En caso de que la orientación del dispositivo sea apaisada (landscape)
@media screen and (orientation: landscape){
    
    // Cambio en la proporción del padding superior con respecto a cuando la orientación del dispositivo sea retrato (portrait).
    .countdown__PaddingGeneral{
        padding: 10% 20%;
    }

    //Cambia el alineado de la descripción inferior a "center".
    .countdown__descripcion{
        text-align: center;
    }
}

