/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Variables con scope global
:root{

    // Fuentes corporativas
    --fuente_fira: Fira;
    --fuente_dulcian: Dulcian;
    --fuente_minion-Pro: MinionPro;

    //Colores corporativos
    --corporativo__azul: #3490b0;
    --corporativo__verde: #b6bc00;
    --corporativo__naranja: #ee712a;
}

/* 
////////////////////////////////
    IMPORTACIÓN DE FUENTES 
////////////////////////////////

En caso de querer añadir una fuente nueva, será necesario extraerla en la carpeta assets y usar la declaración "@font-face" para importarla al proyecto
*/

/* 
-------------------------
    Familia Dulcian
-------------------------
 ¡OJO¡ - En esta familia de fuentes, cabe diferenciar entre fuentes "Cond" y "Norm". "Cond" parece ser un poco más fina que "Norm"
*/

@font-face { // Regular
    font-family: 'Dulcian';
    src: url("assets/fonts/Dulcian/insigne\ -\ Dulcian\ Cond\ Regular_0.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face { // Bold
    font-family: 'Dulcian';
    src: url('assets/fonts/Dulcian/insigne\ -\ Dulcian\ Norm\ Bold_0.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face { //Italic regular
    font-family: 'Dulcian';
    src: url('assets/fonts/Dulcian/insigne\ -\ Dulcian\ Cond\ Regular\ Italic_0.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

/*
-------------------------
    Familia Minion Pro
-------------------------
*/

@font-face { // Regular
    font-family: 'MinionPro';
    src: url("assets/fonts/Minion\ Pro/MinionPro-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face { // Bold
    font-family: 'Fira';
    src: url('assets/fonts/Minion\ Pro/MinionPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face { //Italic regular
    font-family: 'Fira';
    src: url('assets/fonts/Minion\ Pro/MinionPro-It.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

/*
-------------------------
    Familia Fira
-------------------------
*/

@font-face { // Regular
    font-family: 'Fira';
    src: url('assets/fonts/Fira/FiraSans-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face { // Light
    font-family: 'Fira';
    src: url('assets/fonts/Fira/FiraSans-Light.ttf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face { // Bold
    font-family: 'Fira';
    src: url('assets/fonts/Fira/FiraSans-Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face { //Italic regular
    font-family: 'Fira';
    src: url('assets/fonts/Fira/FiraSans-Italic.ttf') format('opentype');
    font-weight: normal;
    font-style: italic;
}



// Propiedades globales
*{
    font-family: var(--fuente_fira), sans-serif; // Fuente por defecto
    box-sizing: border-box;
}

@import '~animate.css/animate.min.css'; 

.transparent-modal {
    .modal-wrapper {
        --background: rgba(44, 39, 45, 0.2);
    }
}
