<ion-content [fullscreen]="true">
<div id="divBotones">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button class="animate__animated animate__fadeInLeft animate__delay-1s" expand="block" id="button1"
        href="/saludos" ><div>
          <ion-icon   name="hand-right" size="large" class="hand"  ></ion-icon><br><label>SALUDOS</label>
        </div></ion-button>
    </ion-col>
    <ion-col>
        <ion-button class="animate__animated animate__fadeInLeft animate__delay-1s" expand="block" id="button2"
        href="/programa"><div>
          <ion-icon name="calendar-number" size="large"></ion-icon><br><label>PROGRAMACIÓN</label>
        </div></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="animate__animated animate__fadeInLeft animate__delay-1s" expand="block" id="button7"
      href="/"><div>
        <ion-icon name="flag" size="large" ></ion-icon><br><label>VISITAS</label>
      </div></ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="animate__animated animate__fadeInLeft animate__delay-1s" expand="block" id="button4"
        href="/logos"><div>
          <ion-icon src="../../assets/icon/logosalesianas.svg" size="large"></ion-icon><br><label>LOGOS</label>
        </div></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="animate__animated animate__fadeInLeft animate__delay-1s" expand="block" id="button5"
      href="/materiales"><div>
        <ion-icon name="extension-puzzle" size="large"></ion-icon><br><label>MATERIALES</label>
      </div></ion-button>        
    </ion-col>
    <ion-col>
      <ion-button class="animate__animated animate__fadeInLeft animate__delay-1s" expand="block" id="button3"
      href="/himno"><div>
        <ion-icon name="volume-medium" size="large"></ion-icon><br><label>HIMNO</label>
      </div></ion-button>    
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="animate__animated animate__fadeInLeft animate__delay-1s" expand="block" id="button6"
      href="/historia"><div>
        <ion-icon name="book" size="large"></ion-icon><br><label>HISTORIA</label>
      </div></ion-button>
    </ion-col>
    <ion-col>
      <div>
        <ion-button class="animate__animated animate__fadeInLeft animate__delay-1s" expand="block" id="button8"
        href="/"><div>
          <ion-icon name="heart-half" size="large"></ion-icon><br><label>VOCACIONAL</label>
        </div></ion-button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>
        <ion-button class="animate__animated animate__fadeInLeft animate__delay-1s" expand="block" id="button9"
        href="/">ORACIONES</ion-button>
      </div>
      
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>
        <h3 class="animate__animated animate__fadeInLeft animate__delay-1s">
          <img id="logo150" src="../../assets/images/logoazul.png" />
        </h3>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</div>

<!-- BOTÓN REDES SOCIALES -->
<ion-fab horizontal="start" vertical="bottom" slot="fixed" id="ionFab">
  <ion-fab-button color="warning">
    <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button href="/aviso-legal" color="warning">
      <ion-icon name="alert"></ion-icon>
    </ion-fab-button>
    <ion-fab-button href="/agradecimientos" color="warning">
      <ion-icon name="ribbon"></ion-icon>
    </ion-fab-button>
    <ion-fab-button target="_blank" href="https://www.youtube.com/channel/UCGiGZB8O_fui_ScjO6Qf6yA" color="youtube">
      <ion-icon name="logo-youtube" class="rrss_icono"></ion-icon>
    </ion-fab-button>
    <ion-fab-button target="_blank" href="https://twitter.com/SalesianasEs?s=20" color="twitter">
      <ion-icon name="logo-twitter" class="rrss_icono"></ion-icon>
    </ion-fab-button>
    <ion-fab-button target="_blank" href="https://www.instagram.com/salesianoses/?hl=es" color="instagram">
      <ion-icon id="instagram" name="logo-instagram" class="rrss_icono"></ion-icon>
    </ion-fab-button>
    <ion-fab-button target="_blank" href="https://es-es.facebook.com/SalesianasES" color="facebook">
      <ion-icon name="logo-facebook" class="rrss_icono"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

</ion-content>