<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
  <div id="divBotones">
    <img class="animate__animated animate__backInDown" src="../../assets/images/headSalesianas.png" />
    <ion-grid>
      <ion-row>
        <ion-col><!-- AÑADIR ICONOS EN BOTONES + TEXTO -->
          <ion-button class="animate__animated animate__fadeInLeft animate__delay-1s " expand="block" id="button1"
            href="/saludos">SALUDOS</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="animate__animated animate__fadeInLeft animate__delay-2s" expand="block" id="button2">Opción
            2</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="animate__animated animate__fadeInLeft animate__delay-3s " expand="block" id="button3">
            Opción 3</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="animate__animated animate__fadeInLeft animate__delay-4s " expand="block" id="button4">
            Opción 4</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="animate__animated animate__fadeInLeft animate__delay-5s" expand="block" id="button5">Opción
            5</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>